.login-button-area{
    align-items: center;
}

.login-form{
    width: 100%;
      
  }
  .login-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 550px;
  }
  /* .kakaoBt {
    background-color: transparent;
    border: none; 
    padding: 0; 
    display: inline-block; 
  }
  
  .kakaoBt > img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
  } */